# Auto detect text files and use consistent LF line endings.
* text=auto eol=lf


# Only include the addons folder when downloading from the Asset Library.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
/addons/gut export-ignore
